@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("/img/red-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.mycontactback{
    background: url("/img/vector-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

.aboutmeback{
    background: url("/img/vector-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 85%;
    
}
